{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>
<body>
<div class="navbar">
    <div class="nav-center">
        💸 Expense Tracker
    </div>

    {% if user.is_authenticated %}
    <div class="nav-right">
        <form action="/logout/" method="post">
            {% csrf_token %}
            <button class="btn btn-logout btn-sm">Logout</button>
        </form>
    </div>
    {% endif %}
</div>



    <!-- PAGE CONTENT -->
    <div class="page-wrapper">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
