{% extends 'base.html' %}

{% block content %}
<div class="container">

    <!-- HEADER -->
    <div class="dashboard-header">
        <h2>Expense Dashboard</h2>
        <div class="total-box">
            Total Spending
            <span>₹{{ total }}</span>
        </div>
    </div>

    <!-- EXPENSE LIST -->
    <div class="expense-section">

    {% if expenses %}
        {% for expense in expenses %}
            <div class="expense-card">

                <div class="expense-top">
                    <span class="expense-amount">₹{{ expense.amount }}</span>

                    <a href="/delete/{{ expense.id }}/" class="btn btn-delete btn-sm">
                        Delete
                    </a>
                </div>

                <div class="expense-meta">
                    <span>{{ expense.category }}</span>
                    <span>•</span>
                    <span>{{ expense.date }}</span>
                </div>

                {% if expense.note %}
                    <div class="expense-note">
                        {{ expense.note }}
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    {% else %}
        <p class="empty-text">No expenses added yet.</p>
    {% endif %}

</div>


    <div class="action-group">
    <a href="/add/" class="btn btn-login btn-full">Add Expense</a>

</div>


</div>
{% endblock %}
